/*
#1d1d1d  -- black
#333333  -- grey
#e5cd96  -- gold
#f8f7ff  -- white
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  line-height: 1.5rem;
}

:root {
  --black-color: #1d1d1d;
  --grey-color: #333333;
  --gold-color: #e5cd96;
  --white-color: #f8f7ff;
}

/* Blocks *********************************/

body {
  background-color: var(--black-color);
  color: var(--white-color);
  background-image: url(grain.png);
  background-repeat: repeat;

}

#content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* nav */

#nav {
  display: flex;
  width: 100%;
  height: 6vh;
  border-bottom: 1px solid var(--gold-color);
  padding: 0 15px;
}

/* header */

#header {
  display: flex;
  flex-direction: column;
  height: 94vh;
  padding: 0 15px;
  position: relative;
}

.header-container {
  display: flex;

}

.title-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button-container {
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: center;
  margin: auto auto 15px auto;
}

.icon-container {
  display: none;
  width: 200px;
  height: 200px;
  margin: 25px 20px 0 auto;
}

/* about */

#about {
  display: flex;
  margin: 60px 0;
  padding: 0 15px;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--gold-color);
  padding: 0 15px 15px 15px;
  min-height: 250px;
  max-width: 1000px;
}

/* skills */

#skills {
  display: flex;
  width: 100%;
  height: 450px;
  background-color: var(--grey-color);
  justify-content: center;
  padding: 0 15px 15px 15px;
  border-top: 1px solid var(--gold-color);
  border-bottom: 1px solid var(--gold-color);
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  height: 100%;
}

.skills-chart {
  display: flex;
  width: 100%;
  height: 100%;
}

.skills-chart__left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.skills-chart__right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

/* projects */

#projects {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px 15px 15px;
  width: 100%;
  height: auto;
}

/* contact */

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 150px;
  padding: 0 15px 15px 15px;
}

/* footer */

/* Elements *******************************/

/* nav */

/* header */

.button__learn-more {
  color: var(--gold-color);
  background: transparent;
  border: none;
  cursor: pointer;
}

.button__learn-more:hover {
  color: var(--gold-color);
  background: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

/* about */

/* skills */

.skills__skillbar {
  display: flex;
  flex-direction: column;
  height: 50px;
  max-width: 95%;
  margin: auto 0;
}

/* projects */

.projects__card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.project__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--white-color);
  margin: 7.5px 0;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.project__card:hover {
  transition: 0.3s ease-in-out;
  transform: scale(0.9);
}

.project__img {
  width: 100%;
}

/* contact */

#link__email {
  font-size: 6vw;
  font-weight: bold;
  color: var(--white-color);
  margin: auto 0;
  padding: 0 0 15px 0;
  transition: 0.3s ease-in-out;
  
}

#link__email:hover {
  font-size: 6vw;
  font-weight: bold;
  text-decoration: none;
  color: var(--gold-color);
  transition: 0.3s ease-in-out;
  border-bottom: 1px solid white;
}

/* footer */

/* Modifiers ******************************/

/* nav */

/* header */

.title--primary {
  font-weight: bold;
  font-size: 3.8rem;
  color: var(--white-color);
}

.title--secondary {
  font-weight: 100;
  font-size: 2rem;
  font-style: italic;
  color: var(--white-color);
}

.title {
  font-weight: bold;
  font-size: 2rem;
  margin: 15px 0;
  color: var(--gold-color);
}

.title--small {
  font-size: 1.2rem;
}

.span--gold {
  color: var(--gold-color);

}

.hr--tiny {
  margin: 3px 0 0 0;
  width: 50px;
  background-color: var(--gold-color);
  ;
}

.icon--email {
  background-image: url("email.png");
  background-size: cover;
  display: flex;
  width: 100px;
  height: 100px;
  border: 1px solid var(--gold-color);
  cursor: pointer;
  align-self: flex-end;
}

.icon--git {
  background-image: url("git.png");
  background-size: cover;
  display: flex;
  width: 100px;
  height: 100px;
  border: 1px solid var(--gold-color);
  cursor: pointer;
}

/* about */

.p--gold {
  color: var(--gold-color);
  text-align: center;
  margin: auto;
}

/* skills */

.bar--grey {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5px;
  padding: 0px;
  border-radius: 3px;
  background-color: var(--black-color);
}

.bar--gold1 {
  width: 75%;
  height: 5px;
  border-radius: 3px;
  background-color: var(--gold-color);
}

.bar--gold2 {
  width: 80%;
  height: 5px;
  border-radius: 3px;
  background-color: var(--gold-color);
}

.bar--gold3 {
  width: 20%;
  height: 5px;
  border-radius: 3px;
  background-color: var(--gold-color);
}

.bar--gold4 {
  width: 60%;
  height: 5px;
  border-radius: 3px;
  background-color: var(--gold-color);
}

.bar--gold5 {
  width: 40%;
  height: 5px;
  border-radius: 3px;
  background-color: var(--gold-color);
}

.bar--gold6 {
  width: 65%;
  height: 5px;
  border-radius: 3px;
  background-color: var(--gold-color);
}

.bar--gold7 {
  width: 30%;
  height: 5px;
  border-radius: 3px;
  background-color: var(--gold-color);
}

.bar--gold8 {
  width: 50%;
  height: 5px;
  border-radius: 3px;
  background-color: var(--gold-color);
}

.bar--gold9 {
  width: 15%;
  height: 5px;
  border-radius: 3px;
  background-color: var(--gold-color);
}

.bar--gold10 {
  width: 10%;
  height: 5px;
  border-radius: 3px;
  background-color: var(--gold-color);
}


/* projects */

/* contact */

/* footer */

/* Media Q's *******************************/

@media screen and (min-width: 600px) {
  .title--primary {
    font-size: 6rem;
  }
  .title--secondary {
    font-size: 2.5rem;
  }
  #link__email {
    font-size: 2rem;
  }
  #link__email:hover {
    font-size: 2rem;
  }
  .project__card {
    width: 80%;
    margin: 7.5px;
  }
}

@media screen and (min-width: 800px) {
  .title--primary {
    font-size: 7rem;
  }
  .title--secondary {
    font-size: 2.75rem;
  }
  .projects__card-container {
    flex-flow: row wrap;
  }
  .project__card {
    width: 47%;
    margin: 7.5px;
  }
}

@media screen and (min-width: 1000px) {
  .title-container {
    width: 80%;
  }
  .title--primary {
    font-size: 8rem;
  }
  .title--secondary {
    font-size: 3rem;
  }
  .icon-container {
    display: flex;
  }
  .project__card {
    width: 47%;
    margin: 7.5px;
  }
}

@media screen and (min-width: 1200px) {
  #contact {
    height: 200px;
  }
  .title-container {
    width: 60%;
  }
  .title {
    font-size: 2.5rem;
  }
  #about {
    width: 1200px;
  }
  .about-container {
    min-width: 100%;
  }
  .projects__card-container {
    flex-flow: row wrap;
    width: 54%;
  }
  .project__card {
    width: 47%;
    margin: 7.5px;
  }
}